.Main {
    display: flex;
    justify-content: center;
    background-color: rgba(100,100,100,0.0);
}
.backScreen {
    width: 100%;
    height: 10px;
    background-color: #2E333C;
}
.MudAppBar {
    background-color: #111A28;
    color: #111A28;
    height: 35px;
}
.MudButton {
    height: 25px;
    color: red;
    background-color: red;
}
.MudButtonCalculator {
    background-color: red;
    color: red;
    min-width: 400px;
    min-height: 4px;
}
.AppBarButton {
    height: 30px;
}
    .AppBarButton:hover {
        padding-bottom: 15px;
    }
.AppBarButtonText {
    font-size: 12px;
}
    .AppBarButtonText:hover {
        
    }

.CalcButton {
    min-width: 400px;
}

.Text {
    font-family: Broadway;

}
.MainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -590px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(100,100,100,0.0);
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
    min-height: 500px;
}
.MultipleWidgetsDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -680px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    background-color: rgba(100,100,100,0.0);
    width: 1375px;
    min-width: 1375px;
    max-width: 1375px;
    min-height: 500px;
}
.MudPaperSmallWidget {
    border-radius: 7px;
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 2%;
    min-width: 400px;
    min-height: 400px;
}
.MudPaperMediumWidget {
    border-radius: 7px;
    background-color: white;
    width: 550px;
    height: 400px;
    margin: 2%;
    min-width: 550px;
    min-height: 400px;
}
.MudPaperMediumWidgetExpanded {
    border-radius: 7px;
    background-color: white;
    width: 855px;
    height: 400px;
    margin: 2%;
    min-width: 855px;
    min-height: 400px;
}

.MudPaperLargeWidget {
    border-radius: 7px;
    background-color: white;
    width: 1000px;
    height: 600px;
    margin: 2%;
    min-width: 1000px;
    min-height: 600px;
}
.ColorPicker {
    max-width: 80px;
    max-height: 320px;
    margin: 12px;
}
.colorPreview {
    min-width: 125px;
    min-height: 25px;
    border-radius: 7px;
    margin: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #eaebeb;
}
.colorHistoryGrid {
    width: 80px;
    max-height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.colorHistoryItem {
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #eaebeb;
}
.timerField {
    max-width: 80px;
}