@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>
    :root {
         --mud-palette-primary: #111A28;
        background-color: #2E333C;
    }
</style>

<PageTitle>WebProject</PageTitle>
<div>
    <main class="Main">
            @Body;
    </main>
</div>
